# Dépendances
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs
*.log
logs/*

# Lockfiles (npm, yarn, pnpm)
package-lock.json
yarn.lock
pnpm-lock.yaml

# PnP
.pnp/
.pnp.js

# IDE / éditeurs
.idea/
.vscode/
*.swp

# Variables d'environnement
.env
.env.local
.env.*.local

# Build output
dist/
build/

# Divers
.DS_Store
.cache/
coverage/

# Netlify local
.netlify
